---
import Layout from "../layouts/Layout2.astro";
import TableOfContents from "../components/TableOfContents.astro";
import Footer from "../components/Footer.vue";
import Subtitle from "../components/Subtitle.astro";
import ParkingCarousel from "../components/ParkingCarousel.vue";
import Movetop from "../components/Movetop.astro";

const contents = [
  "店舗情報・アクセス",
  "駐車場",
  "さくらいとれとれ市場の仲間たち",
  "運営会社",
];
---

<Layout
  title="information"
  pageTitle="店舗情報"
  pageTitleEng="FEATURES"
  breadcrumb={[["店舗情報", ""]]}
  mainVisual="/images/information.png"
>
  <main>
    <div class="table-of-contents">
      <TableOfContents contents={contents} />
    </div>
    <div id="section-0" class="access fadeUpTrigger">
      <Subtitle ja="店舗情報・アクセス" decoration={true} />
      <div class="google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1643.7121982738595!2d135.85046854912122!3d34.51747418585241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6006cb31180a31b5%3A0x97acdb702587bd7e!2z44GV44GP44KJ44GE44Go44KM44Go44KM5biC5aC0!5e0!3m2!1sja!2sjp!4v1689658589968!5m2!1sja!2sjp"
          class="rounded-xl"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="detail">
        <div class="detail-content-wrapper">
          <p class="detail-title">所在地</p>
          <p class="detail-content">
            〒633-0062 奈良県桜井市大字粟殿72番地 (<a
              class="tracking-normal border-b"
              target="_blank"
              href="https://goo.gl/maps/Tv1WS7mGV4ooRfpM9">Google map →</a
            >)
          </p>
        </div>
        <div class="detail-content-wrapper">
          <p class="detail-title">営業時間</p>
          <p class="detail-content">8：45～17：00（年始休業 1月1日～1月5日）</p>
        </div>
        <div class="detail-content-wrapper">
          <p class="detail-title">TEL</p>
          <p class="detail-content">0744- 45-1011</p>
        </div>
        <div class="detail-content-wrapper">
          <p class="detail-title">FAX</p>
          <p class="detail-content">050-3588-2346</p>
        </div>
      </div>
    </div>
    <div id="section-1" class="parking fadeUpTrigger">
      <div class="sub-title">
        <Subtitle ja="駐車場" decoration={true} />
      </div>
      <div class="detail">
        <div class="parking-image-wrapper">
          <ParkingCarousel />
        </div>
        <div class="detail-content-wrapper">
          <p class="detail-title">駐車場</p>
          <p class="detail-content">50台</p>
        </div>
        <div class="detail-content-wrapper">
          <p class="detail-title">お支払方法</p>
          <p class="detail-content">
            キャッシュレス対応（paypay・メルペイ・d払い）
          </p>
        </div>
      </div>
    </div>
    <div id="section-2" class="friend fadeUpTrigger">
      <div class="sub-title">
        <Subtitle ja="さくらいとれとれ市場の仲間たち" decoration={true} />
      </div>
      <div class="friend-detail">
        <h3 class="friend-detail-title">あすか整骨院　桜井院</h3>
        <p class="friend-content">
          奈良県で一番リピート率の高いという整骨院です。一般診療、交通事故治療、実費治療と様々なメニューがあります。
        </p>
        <div class="friend-info-wrapper">
          <div class="friend-info-image">
            <img class="object-cover rounded-xl" src="/images/asuka1.jpg" />
          </div>
          <div class="friend-info">
            <div>
              <p class="friend-info-title">電話</p>
              <p class="friend-info-content">0744-46-4040</p>
            </div>
            <div>
              <p class="friend-info-title">診療時間</p>
              <p class="friend-info-content">
                <span class="emphasize">[月～土]</span><br /><span
                  class="emphasize">午前</span
                >　8時30分～12時00分<br /><span class="emphasize">午後</span
                >　14時30分～20時00分<br />
                ※木曜日のみ午後休診<br />※日曜日　休診
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="friend-detail">
        <h3 class="friend-detail-title">肉のきしもと</h3>
        <p class="friend-content">
          2019年10月にオープン。山形産の牛肉を中心に、質のよいお肉をリーズナブルな価格で提供。丁寧に処理しており、肉のおいしさを堪能できます。揚げたてのコロッケ、串カツ、ミンチカツをはじめ焼きステーキの販売も行っています。
        </p>
        <div class="friend-info-wrapper">
          <div class="friend-info-image">
            <img class="object-cover rounded-xl" src="/images/kishimoto1.jpg" />
          </div>
          <div class="friend-info">
            <div>
              <p class="friend-info-title">電話</p>
              <p class="friend-info-content">0744-41-9122</p>
            </div>
            <div>
              <p class="friend-info-title">定休日</p>
              <p class="friend-info-content">水曜日</p>
            </div>
          </div>
        </div>
      </div>
      <div class="friend-detail">
        <h3 class="friend-detail-title">SOL CAFÉ</h3>
        <p class="friend-content">
          市内で人気のスイーツカフェは、ハンドメイドのケーキや焼き菓子、高品質のコーヒーを提供しており、近隣の橿原市や宇陀市からも多くのリピーターを獲得しています。店内は洗練された家具で装飾され、店員の丁寧な接客により、訪れた客はリラックスした時間を過ごせます。
        </p>
        <div class="friend-info-wrapper">
          <div class="friend-info-image">
            <img class="object-cover rounded-xl" src="/images/sol1.jpg" />
          </div>
          <div class="friend-info">
            <div>
              <p class="friend-info-title">営業時間</p>
              <p class="friend-info-content">8時～17時（土曜定休）</p>
            </div>
            <div>
              <p class="friend-info-title">電話</p>
              <p class="friend-info-content">0744-42-2119</p>
            </div>
          </div>
        </div>
      </div>
      <div class="friend-image-wrapper">
        <img class="object-cover" src="/images/sol2.jpg" />
        <img class="object-cover" src="/images/sol3.jpg" />
        <img class="object-cover" src="/images/sol4.jpg" />
        <img class="object-cover" src="/images/sol5.jpg" />
      </div>
    </div>
    <div id="section-3" class="company fadeUpTrigger">
      <div class="sub-title">
        <Subtitle ja="運営会社" decoration={true} />
      </div>
      <div class="company-image">
        <img class="object-cover" src="/images/company_top.jpg" />
      </div>
      <div class="company-info">
        <div>
          <p class="company-info-title">商号</p>
          <p class="company-info-content">さくらいとれとれ市場株式会社</p>
        </div>
        <div>
          <p class="company-info-title">創業</p>
          <p class="company-info-content">平成23年10月11日</p>
        </div>
        <div>
          <p class="company-info-title">TEL</p>
          <p class="company-info-content">0744-45-1011</p>
        </div>
        <div>
          <p class="company-info-title">FAX</p>
          <p class="company-info-content">050-3588-2346</p>
        </div>
      </div>
      <!-- 企業理念 -->
      <div class="company-philosophy">
        <p>
          私たちは創造性と工夫を駆使して、持続可能な成長を遂げることを目指します。<br
          />
          地域農業の発展に貢献し、地域住民に豊かな食生活を提供します。<br />
          社員の幸せと成長を常に追求します。<br />
          ステークホルダーとの信頼関係を深め、期待に応えます。<br />
          誠実さ、謙虚さ、真摯さをもって日々の業務に取り組みます。<br />
          チームとしての一体感を大切にし、共通の目標達成に努めます。
        </p>
      </div>
      <div class="company-detail">
        <div>
          <h3 class="company-detail-title">事業の推進</h3>
          <p>
            社員の成長を促す環境を提供します。<br />
            専門知識を深めるための研修や資格取得を支援します。<br />
            定期的な研修を通じて、各社員が自己のキャリア目標を達成できるよう支援します。<br
            />
            顧客からの信頼を獲得し、快適な買い物体験を提供します。<br />
            取引先と共に成長し、相互刺激のある関係を築きます。<br />
            従業員は共に価値を共有し、成長する大切なパートナーです。<br />
            革新的であり、社会的な貢献と個人の利益を両立させる事業を展開します。<br
            />
            最新トレンドに敏感であり、時代のニーズに合った事業展開を行います。
          </p>
        </div>
        <div>
          <h3 class="company-detail-title">売場</h3>
          <p>
            従業員のアイデアを取り入れた清潔で整然とした売場を実現します。<br />
            顧客満足を追求する質の高い接客サービスを提供します。<br />
            親切かつ丁寧な接客を通して、野菜に関する知識や情報を提供します。<br
            />
            地元の生産者と協力し、新鮮な商品を多様に取り揃えます。<br />
            データ駆動型の効率的な仕入れ・販売戦略を展開します。
          </p>
        </div>
      </div>
      <div class="profile">
        <h3 class="profile-title">代表者プロフィール</h3>
        <p class="birth">昭和37年　山口県生まれ。４人兄妹の次男。血液型Ｂ型</p>
        <div class="profile-detail">
          <p class="profile-detail-title">学歴</p>
          <p class="profile-detail-content">下関工業高校卒</p>
        </div>
        <div class="profile-detail">
          <p class="profile-detail-title">職歴</p>
          <p class="profile-detail-content">
            ㈱みなと山口合同新聞社（活版作業～電算室オペレーター）<br />
            みなと新聞（本社記者～大阪支社記者～中部支局長代理）<br />
            紀伊国屋書店梅田本店（出向、自費出版アドバイザー）<br />
            (株)堀川（神戸受注センター係長）<br />ＦＫパブリッシング（自営）<br
            />
            フリーライター<br />ＮＴＴフレッツ光接続設定（業務委託）<br
            />(株)奈良日日新聞社（営業記者～企画部次長～取締役企画部長兼編集委員）
          </p>
        </div>
        <div class="profile-detail">
          <p class="profile-detail-title">現在</p>
          <p class="profile-detail-content">
            さくらいとれとれ市場株式会社　代表取締役社長<br />
            大阪府中小企業家同友会　会員<br />フリージャーナリスト<br />
            (一社)奈良地域デザイン研究所　研究員　※研究テーマ「歴史から探る大和の美食」<br
            />
            奈良「歩くう会」主宰
          </p>
        </div>
        <div class="profile-detail">
          <p class="profile-detail-title">趣味</p>
          <p class="profile-detail-content">
            将棋（日本将棋連盟アマ三段有資格）、釣り、読書、旅行
          </p>
        </div>
        <div class="profile-detail">
          <p class="profile-detail-title">好きな書物</p>
          <p class="profile-detail-content">
            ドナウの旅人（宮本輝）、国盗り物語（司馬遼太郎）、太閤記（司馬遼太郎）、<br
            />
            分水嶺（森村誠一）、血と骨（梁石日）、久保の石田流（久保利明）、黄金の旅路（石田敏徳）
          </p>
        </div>
      </div>
    </div>
    <Movetop />
    <Footer client:load />
  </main>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script is:inline>
    function fadeAnime() {
      $(".fadeUpTrigger").each(function () {
        var elemPos = $(this).offset().top - 50;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll >= elemPos - windowHeight) {
          $(this).addClass("fadeUp");
        } else {
          $(this).removeClass("fadeUp");
        }
      });
    }

    $(window).scroll(function () {
      fadeAnime();
    });

    $(window).on("load", function () {
      fadeAnime();
    });
  </script>
  <style>
    .fadeUp {
      animation-name: fadeUpAnime;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    @keyframes fadeUpAnime {
      from {
        opacity: 0;
        transform: translateY(100px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .fadeUpTrigger {
      opacity: 0;
    }

    main {
      margin: auto;
      font-size: 1rem;
      letter-spacing: 0.96px;
    }

    .table-of-contents {
      background-color: #ffffff;
      margin: auto;
      width: 84%;
      border-radius: 20px;
      opacity: 1;
    }

    .sub-title {
      display: flex;
      justify-content: space-around;
    }

    .sub-title > img {
      width: 24%;
    }

    .access {
      background-color: #ffffff;
      border-radius: 15px;
      width: 84%;
      margin: 60px auto;
      padding: 60px 0 80px;
    }

    .access-title {
      font-size: 30px;
      font-weight: bold;
      margin: 0 20px;
      position: relative;
      text-align: center;
    }

    .detail {
      width: 74%;
      margin: auto;
      text-align: center;
    }

    .detail-content-wrapper {
      display: flex;
    }

    .detail-title {
      font-weight: bold;
      padding: 30px 0;
      border-bottom: 1px solid #5f8934;
      width: 22%;
      text-align: left;
      padding-left: 20px;
    }

    .detail-content {
      padding: 30px 30px 0 20px;
      border-bottom: 1px solid #dddddd;
      width: 77%;
      text-align: left;
      letter-spacing: 0.1em;
    }

    .parking {
      background-color: #ffffff;
      border-radius: 15px;
      width: 84%;
      margin: 60px auto;
      padding: 60px 0 80px;
    }

    .parking-title {
      font-size: 30px;
      font-weight: bold;
      margin: 0 20px;
      position: relative;
      text-align: center;
    }

    .parking-image-wrapper {
      margin-top: 30px;
    }

    .friend {
      background-color: #ffffff;
      border-radius: 15px;
      width: 84%;
      margin: 60px auto;
      padding: 60px 50px 80px;
    }

    .friend-title {
      font-size: 30px;
      font-weight: bold;
      margin: 0 20px;
      position: relative;
      text-align: center;
    }

    .friend-detail {
      margin-bottom: 30px;
    }

    .friend-detail-title {
      padding: 20px 0 20px 25px;
      color: #5f8934;
      font-weight: bold;
      font-size: 1.375rem;
      position: relative;
    }

    .friend-detail-title::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 30px;
      left: 5px;
      border-radius: 50%;
      background-color: #5f8934;
    }

    .friend-content {
      margin-bottom: 25px;
      line-height: 2;
    }

    .friend-info-wrapper {
      display: flex;
    }

    .friend-info-image {
      width: 27%;
    }

    .friend-info {
      margin-left: 30px;
      margin-top: 10px;
      width: 100%;
    }

    .friend-info-title {
      width: 28%;
      padding-left: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #5f8934;
      font-weight: bold;
    }

    .friend-info-content {
      width: 72%;
      padding-left: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #dddddd;
    }

    .friend-info > div {
      display: flex;
      margin-bottom: 30px;
    }

    .emphasize {
      font-weight: bold;
    }

    .friend-image-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .friend-image-wrapper > img {
      width: 20%;
      height: 160px;
      border-radius: 10px;
    }

    .company {
      background-color: #ffffff;
      border-radius: 15px;
      width: 84%;
      margin: 60px auto;
      padding: 60px 50px 80px;
    }

    .company-title {
      font-size: 30px;
      font-weight: bold;
      margin: 0 20px;
      position: relative;
      text-align: center;
    }

    .company-image {
      margin: 50px 0;
    }

    .company-image > img {
      margin: auto;
      width: 100%;
      height: 450px;
      border-radius: 10px;
    }

    .company-info {
      margin-bottom: 80px;
    }

    .company-info > div {
      display: flex;
      margin-bottom: 30px;
    }

    .company-info-title {
      width: 18%;
      padding-left: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #5f8934;
      font-weight: bold;
    }

    .company-info-content {
      width: 82%;
      padding-left: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #dddddd;
    }

    .company-philosophy {
      border: 1px solid #5f8934;
      border-radius: 10px;
      text-align: center;
      padding: 50px 40px 30px;
      letter-spacing: 0.96px;
      line-height: 2;
      position: relative;
      letter-spacing: 0.1em;
    }

    .company-philosophy::before {
      content: "企業理念";
      position: absolute;
      background-color: #ffffff;
      color: #5f8934;
      font-size: 1.2rem;
      font-weight: bold;
      top: -15px;
      padding: 0 20px;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
    }

    .company-detail {
      display: flex;
      margin-top: 50px;
      margin-bottom: 50px;
      justify-content: space-between;
      letter-spacing: 0.1em;
      line-height: 2;
    }

    .company-detail > div {
      width: 45%;
    }

    .company-detail-title {
      margin-bottom: 20px;
      color: #5f8934;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .ceo {
      margin-top: 30px;
      text-align: right;
    }

    .profile {
      letter-spacing: 0.1em;
      line-height: 2;
    }

    .profile-title {
      margin-bottom: 20px;
      color: #5f8934;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .birth {
      margin-bottom: 40px;
    }

    .profile-detail {
      display: flex;
      margin-bottom: 30px;
    }

    .profile-detail-title {
      width: 18%;
      padding-left: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #5f8934;
      font-weight: bold;
    }

    .profile-detail-content {
      width: 82%;
      padding-left: 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #dddddd;
    }

    .google-map {
      width: 74%;
      margin: auto;
      margin-top: 40px;
      padding-bottom: 40px;
    }

    .google-map > iframe {
      width: 100%;
      height: 450px;
    }

    @media screen and (max-width: 767px) {
      .access {
        width: 90%;
      }

      .google-map {
        border-bottom: 1px solid #5f8934;
        width: 88%;
        padding-bottom: 30px;
      }

      .google-map > iframe {
        height: 200px;
      }

      .detail {
        width: 88%;
        padding: 0;
        margin: auto;
      }

      .detail-content-wrapper {
        display: block;
      }

      .detail-title {
        margin-top: 20px;
        margin-bottom: 15px;
        border-bottom: none;
        width: 100%;
        padding: 0;
      }

      .detail-content {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
      }

      #controls-carousel {
        padding-bottom: 30px;
        border-bottom: 1px solid #5f8934;
      }

      .friend {
        background-color: #ffffff;
        border-radius: 15px;
        width: 84%;
        margin: 60px auto;
        padding: 40px 0 80px;
      }

      .friend-info-image {
        width: 100%;
        border-bottom: 1px solid #5f8934;
        padding-bottom: 25px;
        margin-bottom: 25px;
      }

      .friend-info-wrapper {
        display: block;
      }

      .friend-info {
        margin: 0;
      }

      .friend-info > div {
        display: block;
      }

      .friend-info-title {
        margin-top: 20px;
        margin-bottom: 15px;
        border-bottom: none;
        width: 100%;
        padding: 0;
      }

      .friend-info-content {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
      }

      .friend-detail {
        width: 88%;
        padding: 0;
        margin: auto;
      }

      .friend-detail-title {
        margin-top: 20px;
        margin-bottom: 15px;
        border-bottom: none;
        width: 100%;
        padding: 0;
        padding-left: 25px;
      }

      .friend-detail-title::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 10px;
        left: 5px;
        border-radius: 50%;
        background-color: #5f8934;
      }

      .friend-content {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
      }

      .friend-image-wrapper {
        width: 88%;
        margin: auto;
        flex-wrap: wrap;
      }

      .friend-image-wrapper > img {
        width: 47%;
        height: 108px;
        margin-bottom: 20px;
      }

      .company {
        background-color: #ffffff;
        border-radius: 15px;
        width: 84%;
        margin: 60px auto;
        padding: 40px 0 40px;
      }

      .company-image {
        width: 88%;
        margin: 50px auto;
        border-bottom: 1px solid #5f8934;
        padding-bottom: 25px;
      }

      .company-image > img {
        height: auto;
      }

      .company-info {
        width: 88%;
        padding: 0;
        margin: auto;
      }

      .company-info > div {
        display: block;
      }

      .company-info-title {
        margin-top: 20px;
        margin-bottom: 15px;
        border-bottom: none;
        width: 100%;
        padding: 0;
      }

      .company-info-content {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
      }

      .company-philosophy {
        width: 88%;
        margin: auto;
        padding: 20px;
      }

      .company-detail {
        width: 88%;
        margin: 50px auto;
        display: block;
      }

      .company-detail > div {
        width: 100%;
        margin-bottom: 50px;
      }

      .profile {
        width: 88%;
        margin: auto;
      }

      .profile-detail {
        display: block;
      }

      .profile-detail-title {
        margin-top: 20px;
        margin-bottom: 15px;
        border-bottom: none;
        width: 100%;
        padding: 0;
      }

      .profile-detail-content {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
      }

      .birth {
        padding-bottom: 30px;
        border-bottom: 1px solid #5f8934;
      }
    }
  </style>
</Layout>
