---
import Layout from "../layouts/Layout.astro";
import TableOfContents from "../components/TableOfContents.astro";
import Footer from "../components/Footer.vue";
import { Product, getProducts } from "../library/microcms";

const contents = ["夏野菜", "冬野菜", "地元特産品"];

const summerVegetable = await getProducts({
  fields: ["id", "name", "mainVisual", "content"],
  filters: "category[contains]野菜[and]type[contains]夏野菜",
});
const winterVegetable = await getProducts({
  fields: ["id", "name", "mainVisual", "content"],
  filters: "category[contains]野菜[and]type[contains]冬野菜",
});
const specialProduct = await getProducts({
  fields: ["id", "name", "mainVisual", "content"],
  filters: "category[contains]地元特産品",
});
type PickedProduct = Pick<Product, "id" | "name" | "mainVisual" | "content">;
type PickedSpecialProduct = Pick<Product, "mainVisual">;
---

<Layout title="product">
  <main>
    <div>
      <div>
        <h1>お取り扱い商品の紹介</h1>
        <p>PRODUCT</p>
        <nav>
          <p>
            <a href="#">トップ</a>
            <span>＞</span>
          </p>
          <p>
            <span>取り扱い商品の紹介</span>
          </p>
        </nav>
      </div>
      <div>
        <img src="" />
      </div>
    </div>
    <TableOfContents contents={contents} />
    <div>
      <h2>旬の野菜</h2>
      <div id="section-0">
        <h3>夏野菜</h3>
        <p>
          これらの夏野菜は、さくらいとれとれ市場で新鮮な状態で提供されています。夏の味覚をお楽しみください。
        </p>
        <div>
          {
            summerVegetable.contents.map((content: PickedProduct) => (
              <div>
                <img
                  src={content.mainVisual.url}
                  width="200"
                  alt="メインビジュアル"
                />
                <p>{content.name}</p>
                <article set:html={content.content} />
              </div>
            ))
          }
        </div>
        <div>
          <a href="#">購入はこちら</a>
        </div>
      </div>
      <div>
        <h3 id="section-1">冬野菜</h3>
        <p>
          これらの冬野菜は、寒さによって甘みが増し、栄養価が高まります。さくらいとれとれ市場で新鮮な冬野菜をお楽しみください。
        </p>
        <div>
          {
            winterVegetable.contents.map((content: PickedProduct) => (
              <div>
                <img
                  src={content.mainVisual.url}
                  width="200"
                  alt="メインビジュアル"
                />
                <p>{content.name}</p>
                <article set:html={content.content} />
              </div>
            ))
          }
        </div>
        <div>
          <a href="#">購入はこちら</a>
        </div>
      </div>
    </div>
    <div id="section-2">
      <h2>地元特産品</h2>
      <p>
        さくらいとれとれ市場では地元の野菜のほか、三輪そうめん、奈良漬け、<br
        />大和高原ピクルスなど地元の特産品も多く取り扱っています。
      </p>
      <div>
        {
          specialProduct.contents.map((content: PickedSpecialProduct) => (
            <img
              src={content.mainVisual.url}
              width="200"
              alt="メインビジュアル"
            />
          ))
        }
      </div>
      <div>
        <a href="#">購入はこちら</a>
      </div>
    </div>
    <Footer client:load />
  </main>
</Layout>
