---
import Layout from "../layouts/Layout2.astro";
import TableOfContents from "../components/TableOfContents.astro";
import Footer from "../components/Footer.vue";
import { Product, getProducts } from "../library/microcms";
import Button from "../components/Button.astro";
import Subtitle from "../components/Subtitle.astro";

const contents = ["夏野菜", "冬野菜", "地元特産品"];

const summerVegetable = await getProducts({
  fields: ["id", "name", "mainVisual", "content"],
  filters: "category[contains]野菜[and]type[contains]夏野菜",
});
const winterVegetable = await getProducts({
  fields: ["id", "name", "mainVisual", "content"],
  filters: "category[contains]野菜[and]type[contains]冬野菜",
});
const specialProduct = await getProducts({
  fields: ["id", "name", "mainVisual", "content"],
  filters: "category[contains]地元特産品",
});
type PickedProduct = Pick<Product, "id" | "name" | "mainVisual" | "content">;
type PickedSpecialProduct = Pick<Product, "mainVisual">;
---

<Layout
  title="PRODUCT"
  pageTitle="取り扱い商品の紹介"
  pageTitleEng="PRODUCT"
  breadcrumb={[["取り扱い商品の紹介", ""]]}
>
  <main>
    <div class="table-of-contents">
      <TableOfContents contents={contents} />
    </div>
    <div class="season">
      <Subtitle ja="旬の野菜" decoration={true} />
      <div id="section-0" class="summer-vegetable">
        <h3>夏野菜</h3>
        <p>
          これらの夏野菜は、さくらいとれとれ市場で新鮮な状態で提供されています。夏の味覚をお楽しみください。
        </p>
        <div class="product-wrapper">
          {
            summerVegetable.contents.map((content: PickedProduct) => (
              <div class="product">
                <img src={content.mainVisual.url} alt="メインビジュアル" />
                <div>
                  <p class="summer-vegetable-title">{content.name}</p>
                  <article set:html={content.content} />
                </div>
              </div>
            ))
          }
        </div>
        <div class="flex justify-center">
          <Button
            bg="primary-variant"
            text="white"
            size="lg"
            input="購入はこちら"
            icon={true}
          />
        </div>
      </div>
      <div id="section-1" class="winter-vegetable">
        <h3>冬野菜</h3>
        <p>
          これらの冬野菜は、寒さによって甘みが増し、栄養価が高まります。さくらいとれとれ市場で新鮮な冬野菜をお楽しみください。
        </p>
        <div class="product-wrapper">
          {
            winterVegetable.contents.map((content: PickedProduct) => (
              <div class="product">
                <img src={content.mainVisual.url} alt="メインビジュアル" />
                <div>
                  <p class="winter-vegetable-title">{content.name}</p>
                  <article set:html={content.content} />
                </div>
              </div>
            ))
          }
        </div>
        <div>
          <div class="flex justify-center">
            <Button
              bg="primary-variant"
              text="white"
              size="lg"
              input="購入はこちら"
              icon={true}
            />
          </div>
        </div>
      </div>
    </div>
    <div id="section-2" class="special">
      <div class="sub-title">
        <Subtitle ja="地元特産品" decoration={true} />
      </div>
      <div class="special-info">
        <p class="special-detail">
          さくらいとれとれ市場では地元の野菜のほか、三輪そうめん、奈良漬け、<br
          />大和高原ピクルスなど地元の特産品も多く取り扱っています。
        </p>
        <div class="special-img-wrapper">
          {
            specialProduct.contents.map((content: PickedSpecialProduct) => (
              <img src={content.mainVisual.url} alt="メインビジュアル" />
            ))
          }
          <img src="" />
          <img src="" />
          <img src="" />
        </div>
        <div class="flex justify-center">
          <Button
            bg="primary-variant"
            text="white"
            size="lg"
            input="購入はこちら"
            icon={true}
          />
        </div>
      </div>
    </div>
    <Footer client:load />
  </main>

  <style>
    .table-of-contents {
      background-color: #ffffff;
      margin: auto;
      width: 84%;
      border-radius: 20px;
      opacity: 1;
    }

    .page-title-wrapper {
      display: flex;
      background-color: aqua;
    }

    .page-img > img {
      width: 50%;
    }

    .season {
      background-color: #ffffff;
      border-radius: 15px;
      width: 84%;
      margin: 60px auto;
      padding: 60px 0 80px;
    }

    .page-title {
      font-size: 2rem;
    }

    .summer-vegetable {
      width: 90%;
      margin: auto;
      margin-top: 35px;
    }

    .summer-vegetable > h3 {
      padding-left: 20px;
      color: #ff9300;
      font-weight: bold;
      font-size: 1.2rem;
      position: relative;
      margin-bottom: 20px;
    }

    .summer-vegetable > h3::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 10px;
      left: 5px;
      border-radius: 50%;
      background-color: #ff9300;
    }

    .summer-vegetable > p {
      margin-bottom: 35px;
    }

    .product-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      gap: 40px 6%;
      margin-bottom: 40px;
    }

    .product > img {
      height: 200px;
      width: 100%;
    }

    .summer-vegetable-title {
      margin: 20px 0 15px;
      color: #ff9300;
    }

    .purchase-button > div {
      margin: auto;
    }

    .winter-vegetable {
      width: 90%;
      margin: auto;
      margin-top: 75px;
    }

    .winter-vegetable > h3 {
      padding-left: 20px;
      color: #93a8ff;
      font-weight: bold;
      font-size: 1.2rem;
      position: relative;
      margin-bottom: 20px;
    }

    .winter-vegetable > h3::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 10px;
      left: 5px;
      border-radius: 50%;
      background-color: #93a8ff;
    }

    .winter-vegetable > p {
      margin-bottom: 35px;
    }

    .winter-vegetable-title {
      margin: 20px 0 15px;
      color: #93a8ff;
    }

    .special {
      background-color: #ffffff;
      border-radius: 15px;
      width: 84%;
      margin: 60px auto;
      padding: 60px 0 60px;
    }

    .special-detail {
      text-align: center;
      margin-bottom: 30px;
    }

    .special-info {
      width: 84%;
      margin: auto;
      margin-top: 40px;
    }

    .special-img-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    .special-img-wrapper > img {
      width: 28%;
      height: 230px;
    }

    @media screen and (max-width: 767px) {
      .season {
        width: 90%;
      }

      .product-wrapper {
        display: block;
        margin: 0;
        margin-bottom: 25px;
      }

      .product {
        width: 88%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
      }

      .product > img {
        width: 33%;
        height: 165px;
        margin-right: 4%;
      }

      .special {
        background-color: #ffffff;
        border-radius: 15px;
        width: 88%;
        margin: 120px auto;
        padding: 60px 0 80px;
      }

      .special-info {
        width: 84%;
        margin: auto;
        margin-top: 30px;
      }
      .special-img-wrapper > img {
        width: 27%;
        height: 73px;
      }
    }
  </style>
</Layout>
