---
import Layout from "../../layouts/Layout2.astro";
import Footer from "../../components/Footer.vue";
import { News, getNews, getNewsDetail } from "../../library/microcms";
import Movetop from "../../components/Movetop.astro";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const news = await getNews({ fields: ["id"] });
  type PickedNews = Pick<
    News,
    "id" | "title" | "eyecatch" | "publishedAt" | "category" | "content"
  >;
  return news.contents.map((content: PickedNews) => ({
    params: {
      newsId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { newsId } = Astro.params;
if (!newsId) throw new Error("newsId is required");
const news = await getNewsDetail(newsId);

// お知らせ一覧取得
const newsList = await getNews({
  fields: ["id", "title", "eyecatch", "publishedAt", "category"],
  limit: 5,
});
type PickedNews = Pick<
  News,
  "id" | "title" | "eyecatch" | "publishedAt" | "category" | "content"
>;
---

<Layout
  title="お知らせ｜さくらいとれとれ市場"
  pageTitle="お知らせ"
  pageTitleEng="NEWS"
  breadcrumb={[
    ["お知らせ", "/news/page/1"],
    [news.title, ""],
  ]}
  mainVisual="/images/news.png"
>
  <main>
    <div class="news">
      <div class="news-detail">
        <div class="news-detail-title-wrapper">
          <h2 class="detail-title">{news.title}</h2>
          <div>
            <p class="news-detail-category">{news.category}</p>
            <p class="news-detail-date">
              {
                new Date(news.publishedAt).getFullYear() +
                  "." +
                  ("00" + (new Date(news.publishedAt).getMonth() + 1)).slice(
                    -2
                  ) +
                  "." +
                  ("00" + new Date(news.publishedAt).getDate()).slice(-2)
              }
            </p>
          </div>
        </div>
        <article set:html={news.content} />
        <p class="back-list">
          <a href="/news/page/1">
            <svg
              class="inline"
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              viewBox="0 -960 960 960"
              width="20"
              ><path d="M400-80 0-480l400-400 56 57-343 343 343 343-56 57Z"
              ></path></svg
            >一覧に戻る
          </a>
        </p>
      </div>

      <div class="news-list">
        {
          newsList.contents.map((content: PickedNews) => (
            <a href={`/news/${content.id}`}>
              <div>
                <img src={content.eyecatch.url} alt="アイキャッチ画像" />
                <div class="news-list-category-wrapper">
                  <p class="news-list-date">
                    {new Date(content.publishedAt).getFullYear() +
                      "." +
                      (
                        "00" +
                        (new Date(content.publishedAt).getMonth() + 1)
                      ).slice(-2) +
                      "." +
                      ("00" + new Date(content.publishedAt).getDate()).slice(
                        -2
                      )}
                  </p>
                  <p class="news-list-category">{content.category}</p>
                </div>
                <p>{content.title}</p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
    <Movetop />
    <Footer client:load />
  </main>
</Layout>

<style>
  main {
    background-color: #fff9e0;
  }

  .news {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 60px;
    letter-spacing: 0.1em;
    line-height: 2;
  }

  .news-detail {
    width: 56%;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 60px;
    padding: 0 3%;
  }

  .back-list {
    margin-top: 50px;
    margin-bottom: 60px;
    padding-left: 30px;
    position: relative;
    color: #5f8934;
    font-weight: bold;
  }

  .back-list > a {
    fill: #5f8934;
  }

  .back-list > a:hover {
    opacity: 0.7;
  }

  .back-list > a > svg {
    margin-bottom: 3px;
  }

  .news-detail-title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
  }

  .detail-title {
    font-size: 1.6rem;
  }

  .news-detail-category {
    border-radius: 15px;
    background-color: #5f8934;
    color: #ffffff;
    font-size: 0.7rem;
    text-align: center;
    padding: 3px 16px;
    margin-bottom: 10px;
  }

  .news-detail-date {
    color: #5f8934;
  }

  .news-list {
    width: 24%;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 60px;
  }

  .news-list > a:hover {
    opacity: 0.7;
  }

  .news-list > a > div {
    width: 87%;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 35px;
  }

  .news-list-category-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 0.87rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .news-list-date {
    color: #5f8934;
  }

  .news-list-category {
    border-radius: 15px;
    background-color: #5f8934;
    color: #ffffff;
    font-size: 0.7rem;
    text-align: center;
    padding: 3px 16px;
  }

  .news-list > div:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    .news {
      display: block;
      margin: auto;
      margin-bottom: 60px;
    }

    .news-detail {
      width: 90%;
      margin: 0 auto;
      padding-top: 45px;
    }

    .news-detail-title-wrapper {
      display: block;
      margin-top: 0;
    }

    .news-detail-title-wrapper > div {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: 20px;
    }

    .news-list {
      display: none;
    }

    .back-list {
      margin-top: 40px;
      padding-bottom: 50px;
    }
  }

  /* TODO
  .news-detail-dateの画像
  .back-listの方向
  font-sizeの調整
  */
</style>
